<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Client</title>
</head>
    <body>
    <h1>Edit client</h1>
<!--    <form action="/update" method="post" th:object="${client}">-->
<!--&lt;!&ndash;        <input type="text" name="clientId" th:value="${client}" />&ndash;&gt;-->
<!--        <input type="hidden" name="clientId" th:field="*{id}" />-->
<!--        <label for="name">Name:</label>-->
<!--        <input type="text" id="name" th:field="*{name}" />-->
<!--        <br>-->
<!--        <label for="phoneNumber">Phone Number:</label>-->
<!--        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" />-->
<!--        <br>-->
<!--        <button type="submit">Update Client</button>-->
<!--        <a th:href="@{/client}">Back to Note List</a>-->
<!--    <a th:href="@{'/note/edit?id=' + ${note.id}}">Edit</a>-->
<!--    </form>-->
    </body>
</html>